/* Coolors Exported Palette - coolors.co/3581b8-cdedfd-191716-e6af2e-f45b69 */

/* HSL */
$color1: hsla(205%, 55%, 46%, 1);
$color2: hsla(200%, 92%, 90%, 1);
$color3: hsla(20%, 6%, 9%, 1);
$color4: hsla(42%, 79%, 54%, 1);
$color5: hsla(355%, 87%, 66%, 1);

/* RGB */
$color1: rgb(53, 129, 184); #3581B8
$color2: rgb(205, 237, 253); #CDEDFD
$color3: rgb(29, 53, 87);  #191716
$color4: rgba(230, 175, 46, 1); #E6AF2E
$color5: rgba(244, 91, 105, 1); #F45B69