

body {
  padding: 60px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a{
  color: white;
}

p{
  color: black;
}
h1{
  color: #43c8ec ;
}

flash

.nav__link--active{
  color: white;
}
