html {
  position: relative;
  min-height: 100%;
  height: 100%; }

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  height: 100%; }

.page-header {
  border-bottom: 1px solid #3581b8;
  padding-bottom: 5px; }

.footer {
  bottom: 0px;
  margin: 0;
  background-color: #000;
  height: 100px;
  /* or however high you would like */ }

.btn-group {
  margin-bottom: 30px;
  padding: 2px; }

.btn-group button {
  padding: 1px;
  border-radius: 5px;
  color: #3581b8;
  background-color: #c4e5f5; }

.btn-group button:hover, .btn.active {
  padding: 1px;
  border-radius: 5px;
  border-color: #3581b8;
  color: white;
  background-color: #3581b8;
  font-weight: bold; }

.btn.view.active {
  padding: 1px;
  border-radius: 5px;
  border-color: #3581b8;
  color: white;
  background-color: #3581b8;
  font-weight: bold; }

/*Here the nav section*/
.img_nav {
  height: 20px;
  width: 20px; }

.navbar {
  border: 0;
  background-color: #191716; }

nav > .container-fluid {
  background-color: #191716; }

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form,
.navbar-inverse .navbar-nav > li > a,
.navbar > .container-fluid .navbar-brand {
  background-color: #191716;
  border: none; }

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  box-shadow: inset 0 -3px 0 #3581b8; }

.navbar-inverse .navbar-nav > li > a.active,
.navbar-inverse .navbar-nav > li > a.active > .svg path {
  color: white;
  background: #3581b8;
  text-shadow: none; }

.navbar-inverse .navbar-nav > li > a > svg {
  width: 26px;
  height: 15px; }

.navbar-inverse .navbar-nav > li > a > svg {
  fill: white !important; }

body {
  padding: 60px;
  font-family: 'Abel', sans-serif;
  font-size: 14px; }

p {
  color: #191716; }

h1, h2, h3, h4, h5, h6 {
  color: #191716; }

a, a:hover, a:active, a:visited, a:focus {
  text-decoration: none;
  color: black;
  background-color: transparent; }

.fun_hover {
  font-size: 2rem;
  background-image: linear-gradient(to right, white 50%, #3581b8 10%);
  background-position: 0;
  background-size: 201%;
  transition: all 0.4s; }
  .fun_hover:hover {
    text-decoration: none;
    color: white;
    background-position: -100%; }

.orgpol {
  color: #3581b8; }

.row.candidate > .grid {
  -webkit-transition: all 0.6s cubic-bezier(0.99, 0.53, 0.58, 1.1);
  -moz-transition: all 0.6s cubic-bezier(0.99, 0.53, 0.58, 1.1);
  -o-transition: all 0.6s cubic-bezier(0.99, 0.53, 0.58, 1.1);
  transition: all 0.4s cubic-bezier(0.99, 0.53, 0.58, 1.1);
  float: left;
  width: 25%;
  height: 150px;
  border: 1px solid #f1f1f1;
  border-radius: 2px;
  padding: 20px; }

.row.candidate > .media {
  -webkit-transition: all  0.6s ease-out;
  -moz-transition: all  0.6s ease-out;
  -o-transition: all 0.6s ease-out;
  transition: all 0.6s ease-out;
  border-top: 1px solid #f1f1f1;
  padding-top: 2px;
  height: 75px; }

.row.candidate > .media > .media-body {
  height: 75px; }

div.map > svg {
  height: 100%;
  width: 100%;
  transform: scale(0.75); }

.containerFlex {
  display: flex;
  height: inherit; }

.containerFlex > .col-md-4 {
  flex: 0 0 230px;
  align-content: center;
  height: inherit; }

.containerFlex > .col-md-8 {
  flex: 1;
  height: 50px;
  align-content: center; }

.barchart {
  width: 100%;
  height: 50%; }

.piechart {
  padding-top: 5px; }

body {
  margin: 5px; }

.media-body > svg {
  height: 100px;
  width: 500px;
  padding-left: 0px; }

.bar {
  fill: #3581b8; }

.background-bar {
  fill: #c4e5f5;
  opacity: .4; }

.axis path,
.axis line {
  fill: none;
  stroke: #191716;
  stroke-width: 0.4px;
  shape-rendering: crispEdges; }

.axis text {
  background-color: black; }

.x path {
  display: none; }

.toolTip {
  position: absolute;
  display: none;
  min-width: 80px;
  height: auto;
  background: none repeat scroll 0 0 #ffffff;
  border: 1px solid #c4e5f5;
  padding: 14px;
  text-align: center; }

pattern {
  fill: #3581b8; }

div.media-body > svg.svgEmbed > path {
  fill: red; }

.barchart text {
  fill: #3581b8;
  font-size: .8em;
  text-anchor: middle; }

.barchart .bartext {
  fill: #ffc531;
  font-size: .8em;
  text-anchor: middle; }

.pieText {
  color: #fff200;
  background-color: #fff200; }

/*# sourceMappingURL=style.css.map */
