extends layout

block content

  .jumbotron
    h1 Welcome to #{h.siteName}
    p 
      | This is a site where you can see the results of the elections held on Ecuador on Feb, 29
      sup th
      |  2017 and Apr,1
      sup st
      |  2017
    p Explore, visualize and have fun 😉 !
    a.btn.btn-primary.btn-lg(href='/candidates', role='button') See results

