extends layout

block content

<<<<<<< HEAD

  .jumbotron
    h1 Welcome to #{h.siteName}
    p This is a site where you can see the results of the elections held on Ecuador on Feb, 29th 2017 and Apr,1st 2017
=======
  .jumbotron
    h1 Welcome to #{h.siteName}
    p 
      | This is a site where you can see the results of the elections held on Ecuador on Feb, 29
      sup th
      |  2017 and Apr,1
      sup st
      |  2017
>>>>>>> 8d124a91603859c16671a3116591e96a149e60b5
    p Explore, visualize and have fun 😉 !
    a.btn.btn-primary.btn-lg(href='/candidates', role='button') See results

