extends layout

block content
  .jumbotron
    h1 Welcome to #{h.siteName}
    p This is a site where you can see the results of the elections held on Ecuador on Feb, 29th 2017 and Apr,1st 2017
    p Explore, visualize and have fun 😉 !
    a.btn.btn-primary.btn-lg(href='/candidates', role='button') Learn more

