extends layout


block content


    .page-header
        h1= 'Votes per Province'

    .col-md-12

        .col-sm-12.col-md-6.col-lg-6.text-center
            .row
                small Select a province to see the results

            .row
                div(id=`map`)
        .col-sm-12.col-md-6.col-lg-6
            .row.province.text-center


                img(id="provimg" src=`../images/icons/defaultprov.svg` )
                h4.text-capitalize(id="provname") Ecuador


            table.rwd-table(id="table_results")
                thead
                    tr

                        th Candidate
                            i.fas.fa-sort.fa-fw
                        th Total
                            i.fas.fa-sort.fa-fw
                        th Men
                            i.fas.fa-sort.fa-fw
                        th Women
                            i.fas.fa-sort.fa-fw

                tbody
                    tr 
                        td(id="noprov") No Province selected yet
                 

            script(src="/javascripts/modules/raphael.min.js")
            script(src="/javascripts/candidates/candidateMap.js")
        
    



