extends layout


block content
    .page-header
        h1= title

    .container-fluid
        .row

            .col-md-6
                .col-md-3
                    button.btn.btn-block.btn-primary(type='button') 1st Round
                .col-md-3
                    button.btn.btn-block.btn-primary(type='button') 2nd Round



