.my-navbar {
  background-color: $color3;
  border: 0;
  border-radius: 0;
  color: white;

  .navbar-brand {
    color: white;
  }

  .navbar-nav {
    .active {
      background: $color4;
      color: $color1;
      font-weight: bold;
      text-shadow: none;
    }

    a {
      text-shadow: none;
      color: white;

      &:hover,
      &:focus {
        background-color: $color4 !important;
      }
    }
  }
}