body {
  padding: 60px;
  font-family: 'Abel', sans-serif;
  font-size: 14px;
}



p {
  color: $color3;
}

h1, h2, h3, h4, h5, h6 {
  color: $color3;
}

a , a:hover, a:active, a:visited, a:focus{

  text-decoration: none;

  color: black;
  background-color: transparent;
  //text-shadow: 1px 1px 0 rgba(63,107,169, 0.5);
}


.page-header{
  border-bottom: 1px solid $color1;
  padding-bottom: 5px;
}