
.page-header {
  border-bottom: 1px solid $color1;
  padding-bottom: 5px;
}

.footer {

  //position:absolute;
  bottom: 0px;
  //width: 100%;
  margin: 0;
  background-color: #000;
  height: 100px; /* or however high you would like */
}

.btn-group {
  margin-bottom: 30px;
  padding: 2px;

}

.btn-group button{
  padding: 1px;
  border-radius: 15x;
  color: $color1;
  background-color: $color2;
}



